<details>
    <summary>How do I join The Darktheme Club?</summary>
    <p>
        If you're interested in getting your site added to
        <b>The Darktheme Club</b>, all you need to do is follow these
        instructions:
    </p>

    <ol>
        <li>
            Make sure your site offers a dark mode <b>by default</b>, either by
            simply not having a light mode, through JavaScript or (best) through
            the
            <a
                href="https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme"
                >prefers-color-scheme</a
            >
            media query.
        </li>
        <li>
            If your site satisfies this requirement, create a pull request (<a
                target="blank"
                href="https://github.com/garritfra/darktheme.club/blob/main/README.md#how-to-create-a-pr-to-add-your-site-to-the-darktheme-club"
                >instructions here</a
            >) to add your site.
        </li>
        <li>
            I will then review you PR and merge it into main. Once merged, your
            site will be added to the list.
        </li>
    </ol>

    <p class="small">
        <b>Note:</b>
        <i
            >I reserve the right to not add sites based on whether I think
            they're suitable to be added or not.</i
        >
    </p>
</details>
