<details>
  <summary>
    Can I add something to my site to show I'm in the Darktheme club?
  </summary>
  <p>
    Yes! Once you're a proud member of the Darktheme Club, you are free to add a
    link to your own website. Simply copy the code snippet below for a text link.
  </p>

  <pre><code>&lt;p&gt;👻&nbsp;Proud&nbsp;member&nbsp;of&nbsp;&lt;a&nbsp;href=&quot;https://darktheme.club/&quot;&gt;darktheme.club&lt;/a&gt;&nbsp;👻&lt;/p&gt;</code></pre>

  <p>
      If you want a graphical button / web badge link there's also that option, just save the image into your site's resources and point to it in the `img src`.
  </p>
  
   <img src="assets/images/darkThemeClub_green.webp" alt="Green text Darktheme.club badge">
   <img src="assets/images/darkThemeClub_white.webp" alt="White text Darktheme.club badge">
  
<pre><code>
  &lt;a href=&quot;https://darktheme.club&quot; target=&quot;_blank&quot; rel=&quot;noopener noreferrer&quot;&gt;
  &lt;img src=&quot;path/to/badge/darkThemeClub_white.webp&quot; width=&quot;88&quot; height=&quot;31&quot; alt=&quot;For sites with dark themes as default&quot; title=&quot;The Darktheme Club&quot;&gt;&lt;/img&gt;
&lt;/a&gt;
</code></pre>

  <p>
      Or you can make your own!
  </p>
</details>
