<details>
    <summary>What's the point of all this?</summary>
    <p><b>That's a great question!</b></p>

    <p>I decided to start this project for a couple of reasons:</p>

    <ol>
        <li>
            People with certain visual imparements have a hard time navigating a
            web without a dark theme. There are plugins that try to emulate a
            dark theme for some sites, but those are not always accurate.
        </li>
        <li>
            As a software engineer, I often stay up late browsing through
            articles on
            <a href="https://news.ycombinator.com/">HackerNews</a> or
            <a href="https://lobste.rs/">lobste.rs</a>. After spending some time
            in my dark-themed editor and dark-themed search engines, the last
            thing my eyes want to see is a blindingly bright website preventing
            my brain from entering "sleep mode".
        </li>
        <li>
            Most, if not all, of the sites listed are personal sites. Many of
            which are blogs. The Darktheme Club is a great way of discovering
            other blog owners who are also interested in accessible web design.
            Think of it like a modern day
            <a target="blank" href="https://en.wikipedia.org/wiki/Webring"
                >webring</a
            >.
        </li>
        <li>It's a bit of fun, so why not?</li>
    </ol>
</details>
